<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-kontrachent-heading" jhiTranslate="todoApp.kontrachent.home.createOrEditLabel">Create or edit a Kontrachent</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.kontrachent.nazwaKontrachenta" for="field_nazwaKontrachenta">Nazwa Kontrachenta</label>
                    <input type="text" class="form-control" name="nazwaKontrachenta" id="field_nazwaKontrachenta"
                           formControlName="nazwaKontrachenta"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.kontrachent.emailKontrachenta" for="field_emailKontrachenta">Email Kontrachenta</label>
                    <input type="text" class="form-control" name="emailKontrachenta" id="field_emailKontrachenta"
                           formControlName="emailKontrachenta"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.kontrachent.numerKontrachenta" for="field_numerKontrachenta">Numer Kontrachenta</label>
                    <input type="text" class="form-control" name="numerKontrachenta" id="field_numerKontrachenta"
                           formControlName="numerKontrachenta"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.kontrachent.terminKontrachenta" for="field_terminKontrachenta">Termin Kontrachenta</label>
                    <input type="number" class="form-control" name="terminKontrachenta" id="field_terminKontrachenta"
                           formControlName="terminKontrachenta"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
