<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="faktura">
            <h2><span jhiTranslate="todoApp.faktura.detail.title">Faktura</span> {{ faktura.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="todoApp.faktura.numerFaktury">Numer Faktury</span></dt>
                <dd>
                    <span>{{ faktura.numerFaktury }}</span>
                </dd>
                <dt><span jhiTranslate="todoApp.faktura.kwotaFaktury">Kwota Faktury</span></dt>
                <dd>
                    <span>{{ faktura.kwotaFaktury }}</span>
                </dd>
                <dt><span jhiTranslate="todoApp.faktura.dataFaktury">Data Faktury</span></dt>
                <dd>
                    <span>{{ faktura.dataFaktury }}</span>
                </dd>
                <dt><span jhiTranslate="todoApp.faktura.typFaktury">Typ Faktury</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'todoApp.Type.' + faktura.typFaktury }}">{{ faktura.typFaktury }}</span>
                </dd>
                <dt><span jhiTranslate="todoApp.faktura.statusFaktury">Status Faktury</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'todoApp.Status.' + faktura.statusFaktury }}">{{ faktura.statusFaktury }}</span>
                </dd>
                <dt><span jhiTranslate="todoApp.faktura.zalegloscFaktury">Zaleglosc Faktury</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'todoApp.Zaleglosc.' + faktura.zalegloscFaktury }}">{{ faktura.zalegloscFaktury }}</span>
                </dd>
                <dt><span jhiTranslate="todoApp.faktura.kontrachent">Kontrachent</span></dt>
                <dd>
                    <div *ngIf="faktura.kontrachent">
                        <a [routerLink]="['/kontrachent', faktura.kontrachent?.id, 'view']">{{ faktura.kontrachent?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/faktura', faktura.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
