<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-faktura-heading" jhiTranslate="todoApp.faktura.home.createOrEditLabel">Create or edit a Faktura</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.faktura.numerFaktury" for="field_numerFaktury">Numer Faktury</label>
                    <input type="text" class="form-control" name="numerFaktury" id="field_numerFaktury"
                           formControlName="numerFaktury"/>
                    <div *ngIf="editForm.get('numerFaktury')!.invalid && (editForm.get('numerFaktury')!.dirty || editForm.get('numerFaktury')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numerFaktury')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.faktura.kwotaFaktury" for="field_kwotaFaktury">Kwota Faktury</label>
                    <input type="number" class="form-control" name="kwotaFaktury" id="field_kwotaFaktury"
                           formControlName="kwotaFaktury"/>
                    <div *ngIf="editForm.get('kwotaFaktury')!.invalid && (editForm.get('kwotaFaktury')!.dirty || editForm.get('kwotaFaktury')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('kwotaFaktury')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('kwotaFaktury')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.faktura.dataFaktury" for="field_dataFaktury">Data Faktury</label>
                    <div class="input-group">
                        <input id="field_dataFaktury" type="text" class="form-control" name="dataFaktury" ngbDatepicker #dataFakturyDp="ngbDatepicker" formControlName="dataFaktury"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataFakturyDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dataFaktury')!.invalid && (editForm.get('dataFaktury')!.dirty || editForm.get('dataFaktury')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataFaktury')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.faktura.typFaktury" for="field_typFaktury">Typ Faktury</label>
                    <select class="form-control" name="typFaktury" formControlName="typFaktury" id="field_typFaktury">
                        <option value="Kosztowa">{{ 'todoApp.Type.Kosztowa' | translate }}</option>
                        <option value="Przychodowa">{{ 'todoApp.Type.Przychodowa' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('typFaktury')!.invalid && (editForm.get('typFaktury')!.dirty || editForm.get('typFaktury')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typFaktury')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.faktura.statusFaktury" for="field_statusFaktury">Status Faktury</label>
                    <select class="form-control" name="statusFaktury" formControlName="statusFaktury" id="field_statusFaktury">
                        <option value="Zaplacone">{{ 'todoApp.Status.Zaplacone' | translate }}</option>
                        <option value="Nowe">{{ 'todoApp.Status.Nowe' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('statusFaktury')!.invalid && (editForm.get('statusFaktury')!.dirty || editForm.get('statusFaktury')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statusFaktury')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.faktura.zalegloscFaktury" for="field_zalegloscFaktury">Zaleglosc Faktury</label>
                    <select class="form-control" name="zalegloscFaktury" formControlName="zalegloscFaktury" id="field_zalegloscFaktury">
                        <option value="OK">{{ 'todoApp.Zaleglosc.OK' | translate }}</option>
                        <option value="Zalegla">{{ 'todoApp.Zaleglosc.Zalegla' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="todoApp.faktura.kontrachent" for="field_kontrachent">Kontrachent</label>
                    <select class="form-control" id="field_kontrachent" name="kontrachent" formControlName="kontrachent">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="kontrachentOption.id === editForm.get('kontrachent')!.value?.id ? editForm.get('kontrachent')!.value : kontrachentOption" *ngFor="let kontrachentOption of kontrachents; trackBy: trackById">{{ kontrachentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
